<configuration xmlns="urn:newrelic-config" agentEnabled="true" transactionTracerEnabled="true">
	<transactionTracer enabled="true">
		<transactionThreshold>0.001</transactionThreshold>
		<stackTraceThreshold>0.001</stackTraceThreshold>
		<slowSql threshold="0.001" />
	</transactionTracer>
</configuration>